BasedOnStyle: Microsoft

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes

BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon

ColumnLimit: 120

EmptyLineAfterAccessModifier: Always
EmptyLineBeforeAccessModifier: LogicalBlock

IndentCaseBlocks: false
IndentWidth: 4

NamespaceIndentation: None

PackConstructorInitializers: Never
PointerAlignment: Left
ReferenceAlignment: Pointer

SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
SortUsingDeclarations: LexicographicNumeric